
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background: linear-gradient(109.6deg, rgb(247, 202, 201) 20.6%, rgb(146, 168, 209) 85.9%);
}

  .container{
  max-width: 400px;
}


input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}
.todos li{
  background: #CABBCC;
}
.delete{
  cursor: pointer;
}

footer{
  color: #fff;
}